<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiredWords - A Developer Blog</title>

</head>

<body>
    <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
</nav>


    <main>
        {{{body}}}
    </main>

    <footer>
        <p>Copyright © 2023 WiredWords</p>
    </footer>

    <script src="../../public/js/login.js"></script>
</body>

</html>
